* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  background-color: lightblue;
  height: 50vh; /*50% of viewport height*/
  /* width: 50vw; */

}

.container h1 {
  font-size: 7vw; /*responsive font size. Not very used*/
}