* {
  /*The ultimate Universal Selector*/
  /* border: 3px solid red; */
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  /*used 98% of the time to make sure a padding stays within the max-width given to it*/
}

body {
  font-family: 'Poppins', sans-serif;
}

.box {
  background: coral;
  max-width: 400px;
  margin: 20px;
  padding: 200px;
}